pandas
gunicorn==20.0.4
plotly
xlrd== 1.1.0
pathlib
joblib
pybase64
regex
emoji
numpy
datetime
dash==2.10.2
dash-bootstrap-components
dash-auth
dash-cytoscape
dash-daq
dash-extensions
dash-renderer
dash-table
werkzeug
prophet
yfinance
xlsxwriter
openpyxl
scikit-learn
dash_mantine_components==0.12.0
dash_iconify
dash_breakpoints
replicate
ai21
langchain==0.0.166
openai==0.27.6
tiktoken
reportlab==3.6.12

