pandas
dash==2.8.1
dash-bootstrap-components
gunicorn
plotly
xlrd== 1.1.0
pathlib
pybase64
regex
emoji
matplotlib
numpy
datetime
dash-canvas
dash-cytoscape
dash-daq
dash-extensions
dash-renderer
dash-table
imutils
openpyxl
werkzeug==2.0.3
dash_mantine_components==0.11.1
dash_iconify==0.1.2